.app {
  --padding-top: 50px;
  max-width: 998px;
  margin: auto;
  display: flex;
  padding-top: var(--padding-top);
  height: calc(100vh - var(--padding-top));
}

.sidebar {
  width: 30%;
}

.main {
  width: 70%;
  overflow-y: scroll;
}

@media screen and (max-width: 998px) {
  .app {
    max-width: 768px;
  }

  .sidebar {
    width: 40%;
  }

  .main {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .app {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .sidebar,
  .main {
    width: 50%;
  }
}

@media screen and (max-width: 568px) {
  .app {
    height: auto;
    flex-direction: column;
  }

  .sidebar,
  .main {
    width: 100%;
  }
}
