@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('~normalize.css');
@import './variables.css';

body {
  font-family: 'Lato', sans-serif;
  color: var(--text-secondary);
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-primary);
}

h2 {
  font-size: 1.125em;
  margin-bottom: 20px;
  margin-top: 0;
}

h3 {
  font-size: 0.99em;
  margin-bottom: 0.4em;
}

strong {
  color: var(--text-primary);
}

a {
  color: var(--text-anchor);
  text-decoration: none;
}

.section {
  margin-bottom: 35px;
}

.subsection {
  margin-bottom: 25px;
}
